<div class="row" style="margin: 20px">
  <div class="container-fluid">
    <div class="col-sm-2">
      <h4 style="margin-top: 5px">
        <a [routerLink]="['']"><i class="fa fa-home"></i> Home</a>
      </h4>
    </div>
    <div class="col-sm-6">
       <div class="row" style="margin: 20px" *ngIf="loading">
        <div class="text-center">
          <img src="balls-5.svg" style="padding-top: 80px; height: 190px;">
        </div>
      </div>
      <app-dashboard-item-search></app-dashboard-item-search>
    </div>
    <div class="col-sm-4">

    </div>

  </div>
</div>
<div class="row" style="margin: 20px">
  <indicator-card
    [orgunit_nodes]="organisationunits"
    [current_period_type]="period_type"
    [current_year]="year"
    [indicator]="selected_indicator"
    [default_period]="period"
    [default_period_type]="period_type"
    [default_orgunit] = "orgunit_for_model"
  >Loading ....
  </indicator-card>
  <!--<div class="col-sm-offset-2 col-sm-8">-->
  <!--<app-metadata-dictionary [metadataidentifiers]="metadataUid"></app-metadata-dictionary>-->
  <!--</div>-->
</div>

