<div class="row" style="margin: 20px">
  <div class="container-fluid">
    <div class="col-sm-2">
      <h4 style="margin-top: 5px">
        <i class="fa fa-home"></i> Metadata Dictionary
      </h4>
    </div>
    <div class="col-sm-6">
      <app-dashboard-item-search></app-dashboard-item-search>
    </div>
   <div class="col-sm-4">

   </div>

</div>
  <div class="row" style="margin: 20px" *ngIf="loading">
    <div class="text-center">
      <img src="balls-5.svg" style="padding-top: 80px; height: 190px;">
    </div>
  </div>
<div class="row" style="margin: 80px" *ngIf="!loading" >
  <br>

  <div class="container-fluid">
    <!--Container for indicators-->
    <div class="col-sm-4">
      <div class="panel panel-default  group_details" style="height: 310px;cursor: pointer">
        <div class="panel-body"  title="Click to see indicator details">
          <h4 class="text-center"><img src="ind.png" style="width: 50px"></h4>
          <hr>
          <h3 class="text-center"><span>{{indicatorSummary.pager.total}}</span>&nbsp;&nbsp;Indicators Available </h3>

          <br>
          <p class="text-center"> <button class="btn btn-default btn-sm" (click)="loadAllIndicators()" title="click to see more indicators">More indicators</button></p>
        </div>
      </div>
    </div>
     <!--container for Indicator Groups-->
    <!--*ngIf="indicatorGroupsSummary.indicatorGroups && indicatorGroupsSummary.indicatorGroups.length >0"-->
    <div class="col-sm-4" >
      <div class="panel panel-default  group_details" style="height: 310px;cursor: pointer">
        <div class="panel-body"  title="Click to see indicator details">
          <h4 class="text-center"><img src="assets/img/dataement.png"></h4>
          <hr>
          <h3 class="text-center"><span>{{dataElementSummary.pager.total}}</span>&nbsp;&nbsp;Data Elements Available </h3>
          <!--<p class="text-center"><small>Created By {{indicatorGroup.user?.name}} on {{indicatorGroup.created| date}}</small></p>-->
          <br>
          <p class="text-center"> <button class="btn btn-default btn-sm">More Data elements</button></p>
        </div>
      </div>
    </div>
    <!--Container for indicator groupset-->
    <!--*ngIf="indicatorGroupSetSummary.indicatorGroupSets && indicatorGroupSetSummary.indicatorGroupSets.length >0"-->
    <div class="col-sm-4">
      <div class="panel panel-default  group_details" style="height: 310px;cursor: pointer">
        <div class="panel-body"  title="Click to see indicator details">
          <h4 class="text-center"><img src="assets/img/dataset.png"></h4>
          <hr>
          <h3 class="text-center"><span>{{dataSetSummary.pager.total}}</span>&nbsp;&nbsp;Data Sets Available </h3>
          <!--<p class="text-center"><small>Created By {{indicatorGroup.user?.name}} on {{indicatorGroup.created| date}}</small></p>-->

          <br>
          <p class="text-center"> <button class="btn btn-default btn-sm">More datasets</button></p>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="row" *ngIf="!loading">
    <div class="container-fluid">
       <div class="col-sm-offset-2 col-sm-4">
         <div class="panel panel-default  group_details" style="height: 310px;cursor: pointer">
           <div class="panel-body"  title="Click to see indicator details">
             <h4 class="text-center"><img src="assets/img/eventdata.png"></h4>
             <hr>
             <h3 class="text-center"><span>{{eventDataSummary.pager.total}}</span>&nbsp;&nbsp;Event data Items Available </h3>
             <!--<p class="text-center"><small>Created By {{indicatorGroup.user?.name}} on {{indicatorGroup.created| date}}</small></p>-->

             <br>
             <p class="text-center"> <button class="btn btn-default btn-sm">More events items</button></p>
           </div>
         </div>
       </div>

      <div class="col-sm-4">
        <div class="panel panel-default  group_details" style="height: 310px;cursor: pointer">
          <div class="panel-body"  title="Click to see indicator details">
            <h4 class="text-center"><img src="assets/img/events.png"></h4>
            <hr>
            <h3 class="text-center"><span>{{programIndicatorSummary.pager.total}}</span>&nbsp;&nbsp;Program Indicators Available </h3>
            <!--<p class="text-center"><small>Created By {{indicatorGroup.user?.name}} on {{indicatorGroup.created| date}}</small></p>-->

            <br>
            <p class="text-center"> <button class="btn btn-default btn-sm">More program indicators</button></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--Model to be populated when clicked-->
<div *ngIf="indicatorDetail=='info'">

</div>
</div>
